@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: 'Outfit';
     src: url('../public/fonts/Outfit-Light.ttf') format('ttf');
   }

@font-face {
     font-family: 'Quicksand';
     src: url('../public/fonts/Quicksand-Light.ttf') format('ttf');
}

@font-face {
     font-family: 'Inconsolata-Light';
     src: url('../public/fonts/Inconsolata-Light.ttf') format('ttf');
}

body {
     @apply font-sans text-secondary font-light;
}

input {
     @apply bg-primary border border-secondary rounded p-2 text-secondary font-light my-2
}

form {
     @apply border-2 border-secondary rounded-md my-5 px-44 py-8 flex flex-col items-center
}

.button {
     @apply font-sans rounded-sm w-24 text-secondary font-light my-2 p-2 bg-gradient-to-r from-gdYellow via-gdRed to-gdIndigo;
}