@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: 'Outfit';
     src: url('../public/fonts/Outfit-Light.ttf') format('ttf');
   }

@font-face {
     font-family: 'Quicksand';
     src: url('../public/fonts/Quicksand-Light.ttf') format('ttf');
}

@font-face {
     font-family: 'Inconsolata-Light';
     src: url('../public/fonts/Inconsolata-Light.ttf') format('ttf');
}

body {
     @apply font-sans text-secondary font-light;
}

button {
     @apply font-sans rounded-sm text-secondary font-light  p-2 bg-gradient-to-r from-gdYellow via-gdRed to-gdIndigo;
}